* ::selection {
    color: #fff;
    background: #FF3A3A;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #131313;
}

header {
    text-align: center;
    padding: 50px 0;
}

/* Languages selection styling */

#languages, .stores {
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}

.stores img {
    width: 150.66px;
    margin: 5px;
}

#languages img {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    padding: 2px;
}

.active {
    border: 2px #FF3A3A solid;
}

/* Disclaimer */

.disclaimer {
    display: inline-block;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

    .disclaimer p {
        font-weight: bold;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
    }

    .disclaimer span {
        color: #FF3A3A;
    }

.mainTitle {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.mainTitleSub {
    color: #FF3A3A;
    font-size: 20px;
    font-weight: 600;
}

/* Forms */

#loginform, #apiKeyForm {
    width: 100%;
    color: white;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 100%;
    margin-bottom: 50px;
}

.formItem div {
    margin-bottom: 20px;
}

.formItem label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

.formItem input,
.formItem textarea {
    border: none;
    width: 100%;
    font-size: 23px;
    padding: 5px;
    border-radius: 5px;
}

.formItem textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    line-break: anywhere;
}
    .formItem input:focus {
        outline: none;
    }

    .formItem .inputShow {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
    }

.toClipboard {
    text-align: left!important;
    color: #FF3A3A!important;
    text-decoration: underline!important;
    font-weight: bold;
    cursor: pointer;
    display: block
}

.formItem button {
    border: none;
    background-color: #FF3A3A;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.formItem p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    margin: 0;
}

.formTitle {
    font-size: 25px !important;
    font-weight: 600;
}

.formSub {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 20px;
}

/* Footer */
footer {
    padding: 40px 0;
}

.copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

    .copy a {
        color: #FF3A3A;
    }

/* Github link styling */
.github {
    position: absolute;
    background-color: white;
    right: 20px;
    top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

    .github p {
        text-decoration: none;
        color: black;
        display: inline-block;
        font-weight: 600;
        font-size: 20px;
        margin: 0 10px 0 0;
    }

    .github img {
        display: inline-block;
        width: 50px;
    }

/* Media queries */
@media screen and ( max-width: 767px) {
    #loginform,
    #apiKeyForm {
        padding: 30px 20px;
        height: auto;
        margin-bottom: 20px;
    }
    header {
        padding: 30px 20px;
    }
    #languages, .stores {
        margin-bottom: 20px;
    }
    .github img {
        width: 30px;
    }
}

@media screen and ( max-width: 850px) {
    .github p {
        display: none;
    }
}

@media screen and ( max-width: 450px) {
    .github img {
        width: 30px;
    }
}
