body {
}

#loginform{
    top:3em;
    width:auto;
}
.docenter {
    text-align: center;
}
.doright {
    text-align: right;
}

#loginform #resultbox {
    width: 100%;
    min-height: 2.4em;
}

#languages {
    position: relative;
    left: 100%;
    top: 0%;
    transform: translate(-100%,0%);
}

    #languages > div {
        display: inline-block;
    }
